body {
  align-items: center;
  background: #121212;
  color: #fafafa;

  display: auto;
  flex-direction: column;

  height: auto;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  transition: all 0.25s linear;
  max-width: 100%;
  max-height: 100%;
}
.App {
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Form {
  display: flex;
  font-size: cal(10px + 2vmin);
  align-self: normal;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.Form {
  align-self: "auto";
}

.label {
  color: white;
}

#buttonGrid {
  left: 1%;
  padding: 5%;
  min-width: 100%;
  min-height: 100px;
}

#outlined-basic {
  position: relative;
  color: #fafafa;
  background-color: darkgray;
  border-radius: 3pt;
}

.CopyToClipBoard {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
}

#passwordGenerateButton {
  position: relative;
  padding: 0.4%;
  left: 1%;
  min-height: 0.1%;
  min-width: 15%;
}

#buttonSaveCSV {
  position: absolute;
  padding: 0.4%;
  right: 4%;
  min-height: 0.1%;
  min-width: 15%;
}

.sliderPasswordLength {
  padding: 5%;
  left: 1%;
  right: 5%;
}

.sliderPasswordAmount {
  padding: 5%;
  left: 1%;
  right: 5%;
}

.radioChoose {
  padding: 10pt;
  left: 1%;
  right: 5%;
}

.App-link {
  color: #61dafb;
}
